{% extends 'base.html' %}

{% load filtros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Gráfico 01</h5>
                        <canvas id="card-01" style="display: block; width: 100px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Gráfico 02</h5>
                        <canvas id="card-02" style="display: block; width: 100px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Gráfico 03</h5>
                        <canvas id="card-03" style="display: block; width: 100px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Gráfico 04</h5>
                        <canvas id="card-04" style="display: block; width: 100px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mapa exemplo</h5>
                        <div id="map" style="height: 520px; width: 800px; margin: 0 auto; text-align:center; line-height: 520px">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mapa exemplo</h5>
                        <div id="map2" style="height: 520px; width: 800px; margin: 0 auto; text-align:center; line-height: 520px">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
        <form method="post" action="{% url 'importar' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="arquivo" />
            <input type="submit" name="Enviar">
        </form>
</div>
{% endblock content %}
<!--
{% block grafico %}
<script>
    $(document).ready(function(){
        var ctx1 = document.getElementById('card-01').getContext('2d');
        var myChart1 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: [{% for prod in produtos %} '{{prod.nome}}', {%endfor%}],
                datasets: [{
                    label: 'Preço dos produtos',
                    data: [{% for prod in produtos %} {{prod.preco|dot}}, {%endfor%}],
                    backgroundColor: [
                        {% for prod in produtos %} 'rgba(255, 99, 132, 0.2)', {%endfor%}
                    ],
                    borderColor: [
                        {% for prod in produtos %} 'rgba(255, 99, 132, 1)', {%endfor%}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('card-02').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
				datasets: [{
					data: [
                        {% for p in pizza %} {{p}}, {%endfor%}
                    ],
					backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(60, 123, 135, 1)',
					],
					label: 'Gráfico 02'
				}],
				labels: [{% for prod in produtos %} '{{prod.nome}}', {%endfor%}]
			},
			options: {
				responsive: true
			}
        });

        var ctx3 = document.getElementById('card-03').getContext('2d');
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
				datasets: [
                {
					data: [
                        1, 5, 8, 12 
                    ],
					backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)'
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)'
                    ],
                    label: '2',
                    fill: false
                },
                {
					data: [
                        5, 9, 16, 30
                    ],
					backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    ],
                    borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
					],
                    label: '4',
                    fill: false
                },
                {
					data: [
                        {% for p in pizza %} {{p}}, {%endfor%}
                    ],
					backgroundColor: [
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    ],
                    borderColor: [
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 206, 86, 1)',
                    ],
                    label: '1', 
                    fill: false
                }
                ],
				labels: [{% for prod in produtos %} '{{prod.nome}}', {%endfor%}]
			},
			options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        display: true,
                    }],
                    yAxes: [{
                        display: true,
				}]
			}
			}
        });

        var ctx4 = document.getElementById('card-04').getContext('2d');
        var myChart4 = new Chart(ctx4, {
            type: 'polarArea',
            data: {
				datasets: [{
					data: [
                        {% for p in pizza %} {{p}}, {%endfor%}
                    ],
					backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(60, 123, 135, 1)',
					],
					label: 'Gráfico 04'
				}],
				labels: [{% for prod in produtos %} '{{prod.nome}}', {%endfor%}]
			},
			options: {
				responsive: true
			}
        });
    });
</script>
{% endblock grafico %}
-->
{% block map %}
<script>
var data = [
    {% for t in brasil %}
        ['{{t|first}}', {{t|last}}],
    {%endfor%}
];

// Create the chart
Highcharts.mapChart('map', {
  chart: {
    map: 'countries/br/br-all'
  },

  title: {
    text: 'Highmaps basic demo'
  },

  subtitle: {
    text: 'Source map: <a href="http://code.highcharts.com/mapdata/countries/br/br-all.js">Brazil</a>'
  },

  mapNavigation: {
    enabled: true,
    buttonOptions: {
      verticalAlign: 'bottom'
    }
  },

  colorAxis: {
    min: 0,
    stops: [[0, '#F1EEF6'], [0.65, '#900037'], [1, '#500007']],
  },

  series: [{
    data: data,
    name: 'TESTE',
    states: {
      hover: {
        color: '#070008'
      }
    },
    dataLabels: {
      enabled: true,
      format: '{point.name}'
    }
  }]
});


// Prepare random data
var data = [
    {% for c in piaui %}
        ['{{c.idIBGE}}', {{c.casos}}],
    {%endfor%}
];

Highcharts.getJSON('https://raw.githubusercontent.com/IFPiaui/covid19-map/master/static_jsons/limites.json', function (geojson) {

    // Initiate the chart
    Highcharts.mapChart('map2', {
        chart: {
            map: geojson
        },

        title: {
            text: 'Casos no Piauí'
        },

        subtitle: {
            text: 'Última atualização 04/05/20'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0,
            stops: [[0, '#F1EEF6'] , [0.01, '#71627E'], [0.50, '#4E3C5E'], [1, '#0F0C12']],
        },

        series: [{
            data: data,
            keys: ['id', 'value'],
            joinBy: 'id',
            name: 'Confirmados',
            states: {
                hover: {
                    color: '#a4edba'
                }
            },
            dataLabels: {
                format: '{point.name}',
            }
        }]
    });
});

</script>    
{% endblock map %}
